<div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-stats'></i>
        <span class="logo_name">Prob & Stats</span>
    </div>
    <ul class="nav-links">

        <!----------------- Confirm Cases ------------------->
        <li>
            <div class="iocn-link" style="background: #1d1b31;">
                <a href="/confirmCasesBoxPlot">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Confirm Cases</span>
                    <i class='bx bxs-chevron-down arrow'></i>
                </a>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="/confirmCasesBoxPlot">Confirm Cases</a></li>
            </ul>
        </li>
        <li>
            <a href="/confirmCasesBoxPlot">
                <i class='bx bx-line-chart'></i>
                <span class="link_name">BoxPlot</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/confirmCasesBoxPlot">Confirm Cases BoxPlot</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="/confirmcaseshistogram">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link_name">Histogram</span>
                </a>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="/confirmcaseshistogram">Confirm Cases Histogram</a></li>
            </ul>
        </li>

        <!----------------- Death Cases ------------------->

        <li>
            <div class="iocn-link" style="background: #1d1b31;">
                <a href="/deathcasesboxplot">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Death Cases</span>
                    <i class='bx bxs-chevron-down arrow'></i>
                </a>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="/deathcasesboxplot">Death Cases</a></li>
            </ul>
        </li>
        <li>
            <a href="/deathcasesboxplot">
                <i class='bx bx-line-chart'></i>
                <span class="link_name">BoxPlot</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/deathcasesboxplot">Death Cases BoxPlot</a></li>
            </ul>
        </li>
        <li>
            <a href="/deathcaseshistogram">
                <i class='bx bx-bar-chart-alt-2'></i>
                <span class="link_name">Histogram</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/deathcaseshistogram">Death Cases Histogram</a></li>
            </ul>
        </li>

        <!----------------- Recoverd Cases ------------------->

        <li>
            <div class="iocn-link" style="background: #1d1b31;">
                <a href="/recoverdcasesboxplot">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Recoverd Cases</span>
                    <i class='bx bxs-chevron-down arrow'></i>
                </a>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="/recoverdcasesboxplot">Recoverd Cases</a></li>
            </ul>
        </li>
        <li>
            <a href="/recoverdcasesboxplot">
                <i class='bx bx-line-chart'></i>
                <span class="link_name">Boxplot</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/recoverdcasesboxplot">Recoverd Cases Boxplot</a></li>
            </ul>
        </li>
        <li>
            <a href="/recoverdcaseshistogram">
                <i class='bx bx-bar-chart-alt-2'></i>
                <span class="link_name">Histogram</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/recoverdcaseshistogram">Recoverd Cases Histogram</a></li>
            </ul>
        </li>

        <!----------------- Statistics ------------------->
        <li>
            <div class="iocn-link" style="background: #1d1b31;">
                <a href="/statisticsconfirmcases">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Statistics</span>
                    <i class='bx bxs-chevron-down arrow'></i>
                </a>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="/statisticsconfirmcases">Statistics</a></li>
            </ul>
        </li>
        <li>
            <a href="/statisticsconfirmcases">
                <i class='bx bx-message-square-check'></i>
                <span class="link_name">Confirm Cases</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="statisticsconfirmcases">Confirm Cases Statistics</a></li>
            </ul>
        </li>
        <li>
            <a href="/statisticsdeathcases">
                <i class='bx bx-message-square-x' style='color:#ffffff' ></i>
                <span class="link_name">Death Cases</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/statisticsdeathcases">Death Cases Statistics</a></li>
            </ul>
        </li>
        <li>
            <a href="/statisticsrecoveredcases">
                <i class='bx bx-message-square-add'></i>
                <span class="link_name">Recoverd Cases</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/statisticsrecoveredcases">Recoverd Cases Statistics</a></li>
            </ul>
        </li>
    </ul>
</div>