<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Probabity L O L Project</h1>
    <h1>Graphics</h1>
    <!-- confirm cases  -->
    <h2><a href="/confirmcaseshistogram">Confirm Cases Histogram</a></h2>
    <h2><a href="/confirmcasesboxplot">Confirm Cases BoxPlot</a></h2>

    <!-- death cases  -->

    <h2><a href="/deathcaseshistogram">Death Cases Histogram</a></h2>
    <h2><a href="/deathcasesboxplot">Death Cases BoxPlot</a></h2>

    <!-- recovered cases -->

    <h2><a href="/recoverdcaseshistogram">Recovered Cases Histogram</a></h2>
    <h2><a href="/recoverdcasesboxplot">Recovered Cases BoxPlot</a></h2>

    <!-- Statistical analysis.  -->
    <h1>Statistical Analysis</h1>

    <h2><a href="/statisticsconfirmcases">Confirm Cases</a></h2>

    <h2><a href="/statisticsdeathcases">Death Cases</a></h2>

    <h2><a href="/statisticsrecoveredcases">Recovered Cases</a></h2>


</body>
</html>