<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stat | Death Cases</title>
</head>
<body>

    <h1>Statistics | Death Cases</h1>
    <h2>Total Death Cases : <%= total %></h2>
    <h2>MEDIAN : <%= median %></h2>
    <h2>IQR : <%= iqr %></h2>
    
</body>
</html>