<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/Panel.css">
    <script src="/js/Panel.js" defer></script>
    <title>Document</title>
    <style> 
        .main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
        }
        .graph{
            height: 450px;
            width: 750px;
        }
        img{
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="upload-slider">
        <%- include("../partials/Panel") %>
            <section class="home-section">
                <div class="home-content">
                    <i class='bx bx-menu'></i>
                    <span class="text">Graph | Recovered Cases BoxPlot</span>
                </div>
                <div class="main">
                    <div class="graph">
                        <img src="/images/recoveredCasesBoxPlot.jpeg" alt="...">
                    </div>
                </div>
            </section>
</body>

</html>